# Core
streamlit
pandas
numpy
plotly
python-dotenv

# ML
scikit-learn
xgboost
joblib
imbalanced-learn

# AI / RAG
groq

# API
fastapi
uvicorn

# Database
psycopg2-binary
sqlalchemy
google-cloud-bigquery
google-cloud-bigquery-storage
pyarrow
db-dtypes
